body {
    font-family: Lato;
}

.bg {
    background: linear-gradient(
      0deg,
      rgb(0,114,255) 0%,
      rgb(0,183,207) 50%,
      rgb(0,255,160) 100%
    );
}

/* .bg {
    background: linear-gradient(
      60deg,
      rgb(255,0,153) 0%,
      rgb(255,177,0) 100%
    );
} */

/* .bg {
    background: linear-gradient(
      60deg,
      rgb(142,252,233) 10%,
      rgb(88,161,230) 50%,
      rgb(185,147,243	) 100%
    );
} */

.gradDynamic{
    position:relative;
  }
  
  .gradDynamic:after, .gradDynamic:before{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    content:"";
    z-index:-1;
  }
  
  .gradDynamic:after{
    background:radial-gradient(circle,red,transparent);
    background-size:400%;
    animation:colorSpin 30s linear infinite;
  }
  
  .gradDynamic:before{
    background-color:yellow;
  }
  
  @keyframes colorSpin{
    25%{background-position:0 100%}
    50%{background-position:100% 100%}
    75%{background-position:100% 0}
    100%{filter:hue-rotate(360deg)}
  }

.text-shadow {
    text-shadow: 2px 2px rgba(0,0,0,0.33);
}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
  }

.font-special {
    font-family: 'Monoton', cursive;
}

.text-6xl {
    font-size: 4rem;
}

.text-7xl {
    font-size: 5rem;
}

.text-8xl {
    font-size: 6rem;
}